[Unit]
Description=VSCP
Wants=network.target
After=network.target

[Service]
ExecStart=/home/pi/vscp/target/release/vscp
WorkingDirectory=/home/pi/vscp
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target